---
import BaseLayout from "../layouts/BaseLayout.astro";
import BoxColorButton from "../components/ui/BoxColorButton.astro";
import Button from "../components/ui/Button.astro";
import SearchBar from "../components/ui/SearchBar.astro";
import BrevkasseCard from "../components/cards/BrevkasseCard.astro";
const supabaseUrl = 'https://vrnvjrlmumgaywbxvaqv.supabase.co'
const supabaseKey = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZybnZqcmxtdW1nYXl3Ynh2YXF2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODUzODcwNDIsImV4cCI6MjAwMDk2MzA0Mn0.zWbD-YJqJP0ZuJDFHvhqG6JoxRoqVR79RP2mTmp71BQ'
const res = await fetch(supabaseUrl + "/rest/v1/brevkasse-parents", {
        method: 'GET',
        headers: {
          'Content-Type': 'application/json',
          apikey: supabaseKey,
          Authorization: `Bearer ${supabaseKey}`,
          Prefer: 'return=representation'
        }
      });
    const data = await res.json();
---

<BaseLayout title="Forældre">
  <section>
    <div class="mobilehero">
      <h1 class="primary-header">Forældre</h1>
      <h2 class="subheader">Rådgivning for forældre og pårørende</h2>
      <img
        src="/images/heroimages/mom-girl-hug.webp"
        alt="Mor og pige krammer"
      />
      <p>
        Hos vores rådgivning kan du få gode råd og inspiration til alt fra
        opdragelse og grænsesætning, til hvordan du som forælder eller anden
        pårørende tackler lavt selvværd, ensomhed, selvmordstanker, selvskade og
        spiseforstyrrelser.
        <br />
        <br />
        På denne side kan du søge hjælp via telefonrådgivning, eller læse og skrive
        til forældrebrevkassen.
      </p>
    </div>
    <div class="desktophero">
      <div class="heroleft">
        <h1 class="primary-header">Forældre</h1>
        <p class="subheader">Rådgivning for forældre og pårørende</p>
        <p>
          Hos vores rådgivning kan du få gode råd og inspiration til alt fra
          opdragelse og grænsesætning, til hvordan du som forælder eller anden
          pårørende tackler lavt selvværd, ensomhed, selvmordstanker, selvskade
          og spiseforstyrrelser.
          <br />
          <br />
          På denne side kan du søge hjælp via telefonrådgivning, eller læse og skrive
          til forældrebrevkassen.
        </p>
      </div>
      <div>
        <img
          src="/images/heroimages/mom-girl-hug.webp"
          alt="Mor og pige krammer"
        />
      </div>
    </div>
    <div class="section-2">
      <BoxColorButton
        color="purple"
        text="book rådgivning"
        style="dark"
        size="m-small-d-large"
        link="https://jpmpz0xim6i.typeform.com/to/x0qzx9Ej">
        <span class="width"></span>
      <h2 class="subheader" slot="title">Telefonrådgivning</h2>
        <p slot="description">
          Hos vores rådgivning kan du få gode råd og inspiration til alt fra
          opdragelse og grænsesætning, til hvordan du som forælder eller anden
          pårørende tackler lavt selvværd, ensomhed, selvmordstanker, selvskade
          og spiseforstyrrelser.
        </p>
        <p slot="description">Book en samtale, så ringer vi dig op.</p>
      </BoxColorButton>
    </div>
    <div class="section-3">
      <div class="section-3-top">
        <div class="flex-gap">
          <h2 class="subheader">Forældrebrevkassen</h2>
          <p>
            I brevkassen svarer vi på alle dine spørgsmål relateret til piger og
            unge kvinder mellem 12 og 24 år. Skriv til vores brevkasse eller læs
            andres spørgsmål.
          </p>
        </div>
        <div class="button-container button-container-end">
          <Button
            text="Skriv til brevkassen"
            style="dark"
            size="m-small-d-large"
            link="https://jpmpz0xim6i.typeform.com/to/JjBBzzKN"
          />
        </div>
      </div>
      <div class="search-container">
        <p class="light-text searchcopy">Søg efter breve</p>
        <SearchBar />
      </div>
      <div>
           <p class="indicator">{data.length} af {data.length}</p>
        <div class="lettercontainer">
          {data.map((letter) => 
          <BrevkasseCard category={letter.category} filter={letter.category.toLowerCase().replace(/\s/g, "_")} header={letter.title} href="/specificletter" />)}
              </div>
        <div class="margintop button-container">
          <Button text="Læs flere" />
        </div>
      </div>
    </div>
  </section>
</BaseLayout>

<style>
  section {
    gap: var(--spacing-medium);
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .button-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .mobilehero {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
  }
  .mobilehero img {
    width: 100%;
    border-radius: var(--radius-cards);
  }

  .desktophero {
    display: none;
    padding-bottom:40px;
  }

  .section-3-top {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-small);
  }
 
  .flex-gap {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
  }

  .searchcopy {
    color: var(--color-black-ish);
    opacity: var(--opacity-75);
  }

  .search-container {
    margin-top: var(--spacing-xs);
  }

  .indicator {
    color: var(--color-black-ish);
    opacity: var(--opacity-50);
    margin-bottom: var(--spacing-small);
    margin-top: var(--spacing-small);
    text-align: center;
    max-width:100%;
  }
  .lettercontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: var(--spacing-medium);
    max-width: 1150px;
  }

  .margintop {
    margin-top: var(--spacing-small);
  }
  @media only screen and (min-width: 800px) {
    section {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--spacing-xl);
    }
    .mobilehero {
      display: none;
    }

    .desktophero {
      display: flex;
      align-items: center;
      max-width: 1050px;
      margin: auto;
      gap: var(--spacing-large);
    }

    .desktophero img {
      border-radius: var(--radius-cards);
      max-width: 500px;
    }
    .heroleft {
      display: flex;
      flex-direction: column;
    }

    .section-2 {
      display: flex;
      align-items: center;
      max-width: 800px;
      margin: auto;
      gap: var(--spacing-large);
    }

    .section-3-top {
      flex-direction: row;
      gap: var(--spacing-small);
      max-width: 1050px;
    }
    .section-3 {
      max-width: 1050px;
      gap: var(--spacing-xs);
      display: flex;
      flex-direction: column;
    }

    .search-container {
      max-width: 30%;
    }

    .button-container-end {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: end;
    }
  }


  @media only screen and (min-width: 900px) {
   
    .section-2{
      padding-bottom: 40px;
    }
  }
</style>
