---
import ArticleCard from "../components/cards/ArticleCard.astro"
const { linkMain, linkMainAlt, link, alt, header } = Astro.props;
import UnderlinedHeader from "../components/ui/UnderlinedHeader.astro"
---


<div class="ArticleLayout">
    <UnderlinedHeader />
    <div class="cards-container">
    <img src={linkMain} alt={linkMainAlt}>
    <ArticleCard {link} {alt} />
    <ArticleCard {link} {alt} />
</div>
</div>


<style>

    .cards-container {
        display: flex;
        gap: var(--spacing-small);
    }
</style>