---
import ArticleCard from "../components/cards/ArticleCard.astro"
const { linkMain, linkMainAlt, link1, link2, alt1, alt2, header } = Astro.props;
import UnderlinedHeader from "../components/ui/UnderlinedHeader.astro"
---


<div class="ArticleLayout">
    <UnderlinedHeader />
    <div class="cards-container">
    <img src={linkMain} alt={linkMainAlt}>
    <ArticleCard {link1} {alt1} {header}/>
    <ArticleCard {link2} {alt2} />
</div>
</div>


<style>

    .cards-container {
        display: flex;
        gap: var(--spacing-small);
    }
</style>